* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: center;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

body {
  background-color: lightgreen;
}

h1 {
  color: purple;
}

h2 {
  color: red;
  margin-top: 30px;
}

li {
  font-size: 12px;
  max-width: fit-content;
  margin: 0 auto;
}

.bild {
  max-width: 250px;
}

#knapp {
  font-size: 12px;
}

.ordet-inte {
  font-size: 2px;
}
